table{
    width: 100%;
    text-align: center;
}

table tr th{
    background: #b3e2ff;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
 }

input{
    height:40px;
}

mat-form-field{
    margin:10px 5px;
}

.parent{
    text-align: center;
}